<div class="flash-messages">
  <div class="row justify-content-md-center">
    <div class="col-4">
      <% flash.each do |type, message| %>
        <div class="alert <%= alert_class(type) %> alert-shadow alert-dismissible fade show" role="alert">
          <%= message %>

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
